<section class="no-padding" id="contact">
   <aside class="bg-light"></aside>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">现在就加入我们</h2>
		<br/>
                <h3 class="section-heading">心动不如行动，现在报名尽享钜惠</h3>
		<hr class="primary">
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://twitter.com/{{ site.twitter_username }}">
                <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>联系电话： {{ site.twitter_username }}</p>
            </a>
        </div>
	<div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>QQ空间： {{ site.email }}</p>
            </a>
        </div>
        
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>微信公众号： {{ site.github_username }}</p>
            </a>
        </div>

    </div>
    </div>
    <aside class="bg-light"></aside>
    <aside class="bg-dark low-padding" >
	<div class="container text-center">
              copyright@2016
      </div>
    </aside>
</section>
