<section class="bg-dark no-padding" id="about">
    <aside class="bg-dark">
      <div class="container text-center">
              <h2>我们的团队</h2>
      </div>
    </aside>
    <div class="container-fluid">
        <div class="row gutter">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/portfolio/p1.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
			<img src="img/portfolio/c1.png" class="img-responsive" alt="">
                        
                    </div>
                </a>
            </div>
	    
	    <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/portfolio/p1.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <img src="img/portfolio/c1.png" class="img-responsive" alt="">
                        </div>
                    </div>
                </a>
            </div>

	    <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/portfolio/p1.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <img src="img/portfolio/c1.png" class="img-responsive" alt="">
                        </div>
                    </div>
                </a>
            </div>

	</div>
    </div>
    <aside class="bg-dark"></aside>
</section>
